*{
    box-sizing: border-box;
    font-family: 'Alkatra', Changa One, cursive;
}
html{
    scroll-behavior:smooth;
}
body{
    margin: 0;
    background-color:green;
}
.nav-logo img{
    width: 100px;
    height: 100px;
    border: 3px solid orange;
    text-align:center;
    animation-name:nav-logo-anim;
    animation-duration:10s;
    animation-direction:alternate-reverse; 
    animation-iteration-count: infinite;
}
@keyframes nav-logo-anim {
    0%   {border-color:rgb(198, 98, 147);}
    25%  {border-color:rgb(36, 193, 245);}
    50%  {border-color:rgb(250, 250, 248);}
    75%  {border-color:rgb(250, 42, 42);}
    100% {border-color:rgb(193, 4, 35);}
  }
h2{
    font-size: 1.2rem;
    text-align: center;
}
a{
    color:aliceblue;
    font-size: 1rem;
    text-decoration: none;
}
p{
    font-size: 1.5rem;
    text-align: justify;
}
.dotted-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto ;
    width: 25%;
}
.aboutme-hr{
    color:gold;
}
[class*="col- "]{
    float: left;
    padding: 0.5%;
    }
/*for mobile */
[class*="col- "]{
    width: 100%;
}
/*navbar design start*/
.navbar{
    background-image:linear-gradient(to top,blue,blue,#d787f2ff,blue);
    padding:1% 5%;
    text-align: center;
}
.navbar h1{
    color:white;
    margin: 0;
    padding-top: 10px;
}
.navbar-menu{
display: flex;
flex-direction: column;
text-transform: uppercase;
}
.navbar-menu a{
    border-radius: 20px;
    border-style:inset;
    border-top-right-radius: unset;
    margin: 5px 0px;
    padding:10px;
}
.navbar-menu a:hover{
    background-color: rgb(57, 32, 1);
}
.navbar::after{
    content: '';
    display: table;
    clear: both; 
} 
/*navbar design end*/
/* profile design start from here */
main {
    padding: 35px 8px;
    position: relative;
    text-align: center;
}
.profile .top1-icon{
    width: 50px;
    height:55px;
    background:transparent;
    position:absolute;
    margin-top:2.5%;
    animation-name: top1-icon;
    animation-duration: 7s;  
    animation-iteration-count:infinite;
    animation-fill-mode:both;
  }
    @keyframes top1-icon {
    0% {top:12px; left:0px;}
    40% {right:145px; top:12px;}
    70% {left:145px; top:12px;}
    100% {left:0px; top:12px;} 
  }
  main .profile-desc {
    border: display;
  }
main .profile-desc {
    color:rgb(248, 149, 56);
    font-size: 0.8rem;
    font-weight: 1000;
    text-align: center;
    font-family: 'Arial', cursive;
    margin-top: 8%;
    margin-bottom: 0.5%;
    max-width:100%;
}
main .profile-desc .neon {
    color:white;
    letter-spacing: 0.2em;
}
main .profile-desc p {
    color:rgb(94, 248, 56);
    font-weight: 500;
    text-align: center;
    font-family: 'Arial', cursive;
    margin-top: 1%;
    max-width:100%;
}
main .profile-desc .right-icon{
    height:70px;
    width:70px;
    position: absolute;
    top: 8.5%;
    right: 4.5%;
    border-radius: 50px;
    transition: transform 5s;
}
main .profile-desc .right-icon:hover{
    transform: rotate(360deg);
}
.profile .typing {
    font-size: 0.8rem;
    padding:0;
    margin:0;
    color:rgb(214, 240, 252);
    position: absolute;
    white-space:nowrap;
    overflow: hidden;
    animation: typing 5s steps(21)infinite;
}
@keyframes typing{
    100%{
        width: 0eh;
    }
    50%{
        width: 20ch;
    }
    0%{
        width: 0ch;
    }
}
main::after{
    content: '';
    display:table;
    clear: both;
}
main .typing::after{
    content: '';
    display: table;
    clear:both;
}
/* profile design end here */
.about-me{
    background-color: #39a4ac;
    padding: 1% 5%;
    color:white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
 }
 .aboutme-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
 }
 .about-me p{
    text-align: center;
 }
 .cv-button{
    background-color: #052d2f;
    color:gold;
    border: none; /* by defolt border none*/ 
    border-radius: 12px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor:all-scroll;
    margin: 10px;
 }
 .about-me::after{
    content: '';
    display: table;
    clear: both;
 }
/*about me design ends*/
/* professionel experience start here */
.professionel-experience{
    padding: 1% 0;
}
.professionel-experience .card{
    background-color: #91b7b7;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
    height: 620px;
}
.card-desc, p{
    font-size: .8rem;
}
.card:hover{
    box-shadow: 0 4px 8px 5px black;
}
.card-icon{
    text-align: center;
}
.card-icon img{
    margin-top: 20px;
    width: 100px;
}
.rounded-img{
    border: 5px solid white;
    border-radius: 50%;
    padding: 2px;
}
.card-title h2{
    background-color: #20585b;
    color:white;
    padding: 10px;
    text-align: center;
}
/* professionel experience ends here */
/* Education start here */
.education{
    padding: 0.5% 0;
}
.education .card{
    background-color: #b2a7f5;
    border-radius: 5px;
    padding: 3px;
    transition: 0.3s;
    height: 617px;
    color:solid black;
    font-size: 1.1rem;
}
.education .card:after{
  content:'';
  display: table;
  clear: both;
}
.skills{
   padding:1% 0;
}
.skills .card{
  border-radius: 5px;
  padding:3px;
  font-size: 1.5rem;
  color:#470d0d;
}
.skill-name{
    font-size: 18px;
    font-weight: 1000;
    color:rgb(46, 2, 2);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin:30px 0 0 20px;
    margin-bottom: 1px;
    padding:5px 10px;
}
/* That colored Progress line(100%) */
.skill-bar{
    height: 6px;
    background: #cbedf3;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
/* colored progress bar */
.skill-per{
    height: 2px;
    margin-left: 10px;
    background: orange;
    border-radius: 3px;
    position: relative;
    animation: fillbars 3.5s 1; 
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
/* (last line "animation:fillbars") */
/* persenteg marking poin,such as 95% progress */
.skill-per::before {
    content:attr(per);
    position: absolute;
    padding:3px 2px;
    background: transparent;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 15px;
    color:whitesmoke;
    top: 15px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after{
    content:'';
    position: absolute;
    width: 10px;
    height: 10px;
    background:orange;
    top:10px;
    right: 3px;
    transform: translateX(60%)rotate(55deg);
    border-radius: 1px;
}
@keyframes fillbars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }   
}
.skills::after{
    content:'';
    display: table;
    clear:both;
}
.card::after{
    content: '';
    display: table;
    clear: both;
}
.professionel-experience::after{
    content: '';
    display: table;
    clear: both;
}
/* Education ends here */
/* Achievement contract start here */
.achievement-contact{
    margin-top: 10px;
    padding: 1% 7%; 
    background-color: #39a4ac;
    color:white;
    }
    .achievement-contact::after{
        content: '';
        display: table;
        clear: both;
    }
    .contact{
        text-align: center;
    }
    .contact input,textarea{
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
        text-align: center;
        border: none;
        border-radius: 5px;
        resize: none;
    }
    .contact button{
        border: none;
        border-radius: 12px;
        background-color: #052d2f;
        color:white;
        cursor: pointer;
        padding: 15px;
        margin: 10px;
        width: 80px;
    }
    .contact::after{
        content:'';
        display: table;
        clear: both;
    }
    .contact-link{
        text-align: center;
    }
.media-buttons .btn{
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: progress;
    padding: 8px;
    margin: 10px;
    width: 35px;
    background-color: yellow;
}
.btn:hover{
    background-color: white;
    box-shadow: 0px 6px 10px 6px orangered;
}
.achievement-contact::after{
    clear:both;
    content: '';
    display: table;
}
/* Achievement contract ends here */
/* footer start from here */
.footer{
    background-color: black;
    color:white;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}
.footer-menu a{
    display: block; 
    margin:15px 0;
    font-size: 1rem;
}
.footer-menu a:hover{
    color:gray;
}
.footer::after{
    display: table;
    content: '';
    clear: both;
} 
/* footer end from here */
